<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>SERVLETS.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.HomeQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.AutoQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.ViewQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAutoQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.ViewAutoQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHomeQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.ViewHomeQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>SERVLETS.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAutoPolicyServlet</servlet-name>
        <servlet-class>SERVLETS.CreateAutoPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHomePolicyServlet</servlet-name>
        <servlet-class>SERVLETS.CreateHomePolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHomePolicyServlet</servlet-name>
        <servlet-class>SERVLETS.ViewHomePolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAutoPolicyServlet</servlet-name>
        <servlet-class>SERVLETS.ViewAutoPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSecondDriverServlet</servlet-name>
        <servlet-class>SERVLETS.AddSecondDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnotherVehicleServlet</servlet-name>
        <servlet-class>SERVLETS.AddAnotherVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistingAutoQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.ExistingAutoQuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistingHomeQuoteServlet</servlet-name>
        <servlet-class>SERVLETS.ExistingHomeQuoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeQuoteServlet</servlet-name>
        <url-pattern>/HomeQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoQuoteServlet</servlet-name>
        <url-pattern>/AutoQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuoteServlet</servlet-name>
        <url-pattern>/ViewQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAutoQuoteServlet</servlet-name>
        <url-pattern>/ViewAutoQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHomeQuoteServlet</servlet-name>
        <url-pattern>/ViewHomeQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAutoPolicyServlet</servlet-name>
        <url-pattern>/CreateAutoPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHomePolicyServlet</servlet-name>
        <url-pattern>/CreateHomePolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHomePolicyServlet</servlet-name>
        <url-pattern>/ViewHomePolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAutoPolicyServlet</servlet-name>
        <url-pattern>/ViewAutoPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSecondDriverServlet</servlet-name>
        <url-pattern>/AddSecondDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnotherVehicleServlet</servlet-name>
        <url-pattern>/AddAnotherVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingAutoQuoteServlet</servlet-name>
        <url-pattern>/ExistingAutoQuoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingHomeQuoteServlet</servlet-name>
        <url-pattern>/ExistingHomeQuoteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
